.header {
	background:#E1886B;
	padding: 10px;
	border: 10px solid #C80E0E;
	margin: 10px;
}
.sidebar {
	background: #E9B87A;
	border: 10px solid #E9980D;
	margin: 10px;
}
.main {
	background: #EADD97;
	border: 10px solid #E6D05C;
	margin: 10px;
}
body {
	text-align: center;
	background: #EFB371;
}
