.header {
	background:#F0F8FF;
	padding: 10px;
	border: 10px solid #87CEFA;
	margin: 10px;
}
.sidebar {
	background: #E0FFFF;
	border: 10px solid #ADD8E6;
	margin: 10px;
}
.main {
	background: #EADD97;
	border: 10px solid #E6D05C;
	margin: 10px;
}
body {
	text-align: center;
	background: #FFC0CB;
}
